<ion-header>
  <ion-toolbar>
    <ion-title class="center">
      MentorMe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Getting Started</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button 
          expand="full"
          (click)="navToMentor()">
          Mentor
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          expand="full"
          (click)="navToStudent()">
          Student
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
