

<ion-content class="getstart center" style="background: url('/src/assets/icon/background.png');
--background-repeat: no-repeat;
--background-size: cover;--background-color: transparent;" padding>
  <ion-grid>
      <ion-img style="margin:auto;margin-top:30px;width:70%;"  src="/assets/icon/logo.png"></ion-img>
    <ion-row>
      <ion-col>
        <ion-title style="margin-top:100px;" class="center">I am a . . .</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
    
      <ion-col>
        <ion-button style="min-width:200px; margin-top:50px;"
          expand ="full"
          (click)="navToMentor()">
          Mentor
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button style="min-width:150px; margin-top:20px;"
        expand ="full"
          (click)="navToStudent()">
          Student
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
