<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="{{ back }}"></ion-back-button>
      </ion-buttons>
      <ion-title class="center-back-button">Mentor</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title class="center">Signup or Login</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button style="min-width:200px; margin-top:50px;"
            expand="full"
            (click)="navToMentorLogin()">
            Login
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="min-width:150px; margin-top:20px;"
            expand="full"
            (click)="navToMentorSignUp()">
            Signup
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
