<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ back }}"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-back-button">Mentor Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input placeholder="FIRST NAME"></ion-input>
  <hr>
  <ion-input placeholder="LAST NAME"></ion-input>
  <hr>
  <ion-input placeholder="USERNAME"></ion-input>
  <hr>
  <ion-input placeholder="PASSWORD"></ion-input>
  <hr>
  <ion-button expand="full" (click)="navToQuiz()">
    SIGNUP
  </ion-button>
</ion-content>

